<h3>My Imported Files</h3>

<div class="row m-0">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name File</th>
      <th scope="col">State</th>
    </tr>
  </thead>
     <tbody>
    <%= render partial: 'import_file', collection: @imported_files %>
    </tbody>
</div>